/* Your CSS Code here. */
.holder {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:start;
	flex-wrap:wrap;
}


.item1 {
	background-color:green;
	padding:30px;
}

.item2 {
	background-color:red;
	padding:30px;
}

.item3 {
	background-color:blue;
	padding:30px;
}